body{
  background-color: #FBFCFD;
 
}

.tools-wrapper, .Product-Container, .Signup-wrapper.Menu-wrapper {
  margin-left: 30px;
  margin-right: 30px;
}
 .Menu-options, .line{
 margin-left: 30px;
 margin-right: 30px;
}

.Deals {
  margin-left: 30px;
  margin-right: 30px;
}

